

/* Image Spoiler */
:root {
    --spoiler-blur-hover: 8px;
}
[class*="-attachmentContainer"][class*="-spoilerContent"] {
    background-color: unset;
    &[class*="-hiddenSpoiler"] {
        > [class*="-spoilerWarning"] {
            transition: opacity 50ms ease;
        }
        [class*="-imageContent"] {
            filter: none !important;
            [class*="-imageWrapper"] > [class*="-clickableWrapper"] {
                filter: blur(var(--custom-message-attachment-spoiler-blur-radius));
                transition: filter 80ms ease-out;
            }
        }
        &:hover {
            > [class*="-spoilerWarning"] {
                opacity: 0.2;
            }
            [class*="-imageWrapper"] > [class*="-clickableWrapper"] {
                filter: blur(var(--spoiler-blur-hover));
            }
        }
    }
}


/* Link Hover with Unread Badge Effect by Refactor */
:root {
  --list-item-transition: 0.3s ease;
}
._2ea32c412048f708-wrapper ._2ea32c412048f708-link {
  transition: margin-left var(--list-item-transition);
}
._2ea32c412048f708-unread {
  border-radius: 50%;
  width: 8px;
  height: 8px;
  background-color: var(--accent-3);
  transition: transform var(--list-item-transition), background var(--list-item-transition);
}
._2ea32c412048f708-wrapper:hover ._2ea32c412048f708-link {
  margin-left: 5px;
  opacity: 0.9;
}
._2ea32c412048f708-wrapper:hover ._2ea32c412048f708-unread {
  transform: scale(1.3);
  background: url('https://files.catbox.moe/q4oi4j.png?size=80') no-repeat center / contain;
}


/* Remove Reaction Right-Click Menu */
[id^="message-quickreact-"] {
  display: none !important;
}
#message>div>.f563df886a7377be-wrapper {
  display: none;
}

/* Remoove Activity Member List*/
[class*='membersGroup']:has([role=button]), /* Hides member group with buttons */
[class*='member'] [class*='container']:has([class*='badges']) { /* Hides member containers with badges */
  display: none;
}

/* Remove Quests on UserPanel */
section[class^="panels_"]>div[class^="mask_"] {
  display: none;
}

/* Fix Reduce Channel List Spacing */
[class="_2ea32c412048f708-link"] {
  padding-block: 1.5px;
}

/* fix profile bottom */
.visual-refresh ._49fc18ba07c5025f-focusLock ._9c3bea41fd465666-root .c0bea05627c5dc35-outer .c0bea05627c5dc35-inner {
  padding: 48px 36px 48px 48px;
}
.visual-refresh ._49fc18ba07c5025f-focusLock ._9c3bea41fd465666-root .c0bea05627c5dc35-outer .c0bea05627c5dc35-inner ._9c3bea41fd465666-profile {
  border-radius: var(--radius-lg) var(--radius-lg) var(--radius-lg) var(--radius-lg);
}

/* revert the input/output dropdowns user panel */
[class*="buttons"] [role="switch"] {
  border-radius: var(--radius-sm);
  ~ button:not([aria-label="User Settings"]) {
    display: none;
  }
}

/* Hide typing dots in chat bar */
[class*="ellipsis"] {
  display: none !important;
  & + span {
    margin-left: 1px !important;
  }
}

/* Server Tooltip */
[class*=tooltip] { 
    max-width: unset !important; 
}


/* SNIPPETS ADDED */
/* ROLE COLOR PROFILE By Refact0r*/
.dfa8b6b94cddb191-role.dfa8b6b94cddb191-pill {
  position: relative;
  background: none;
  border: none;
  padding-left: 28px;
}
.dfa8b6b94cddb191-role.dfa8b6b94cddb191-pill > span {
  z-index: 1;
}
.dfa8b6b94cddb191-role.dfa8b6b94cddb191-pill .dfa8b6b94cddb191-roleRemoveButton {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: 0 !important;
}
.dfa8b6b94cddb191-role.dfa8b6b94cddb191-pill ._4f569b8941af22d1-roleCircle {
    margin: 6px 8px;
}
.dfa8b6b94cddb191-role.dfa8b6b94cddb191-pill ._4f569b8941af22d1-roleCircle::before {
  content: '';
  display: block;
  position: absolute;
  background-color: inherit;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border-radius: var(--radius-xs);
  filter: brightness(1.1);
  opacity: 0.25;
}



/* Plain Folder Icon Size Pastel */
.expandedFolderIconWrapper__48112::after,
._48112cbe77dc5022-folderPreview::after {
  content: "";
  background-color: transparent;
  width: 24px;
  height: 24px;
  top: 60px;
  right: 12px;
  position: absolute;
  transition: opacity 0.2s ease;
  transform: scale(1.2);
}
._48112cbe77dc5022-folderPreview:hover::after {
  opacity: 0;
}
._48112cbe77dc5022-folderPreview > ._48112cbe77dc5022-folderPreviewGuildIcon {
  opacity: 0.5;
  filter: blur(2.2px);
  transition: opacity 0.2s ease, filter 0.2s ease !important;
}
._48112cbe77dc5022-folderPreview:hover > ._48112cbe77dc5022-folderPreviewGuildIcon {
  opacity: 1;
  filter: blur(0px);
}
.theme-dark .b18fe29d6fe8dd82-hiddenVisually[aria-expanded="false"] {
  background-color: #000000;
}


/* Better Compact Context Menu */
.c1e9c47c23f12ca3-menu:has(.c1e9c47c23f12ca3-scroller) {
  min-width: 0;
  width: 171px !important;
  &::after,.c1e9c47c23f12ca3-scroller {
      /* border margin */
      margin: -4px;
  }
  &::after,.c1e9c47c23f12ca3-separator {
      /* separator margin */
      margin: 1px 8px !important;
  }
  &::after,.f563df886a7377be-wrapper {
      /* reactions margin */
      padding: 0px !important;
      margin: 1px;
  }
  &::after,.c1e9c47c23f12ca3-item {
      /* min-height is 32px as default, change value for desired look */
      min-height: 0;
      /* padding is 4px 8px as default, change value for desired look */
      padding: 4px 8px;
  }
  &::after,.f563df886a7377be-icon {
      /* reactions size */
      width: 18px;
  }
  &::after,.f563df886a7377be-button {
      /* reactions border size */
      width: 36px;
      height: 36px;
      border-radius: 4px;
  }
  &::after,.c1e9c47c23f12ca3-icon {
      /* icons size */
      width: 18px;
      height: 18px;
  }
  &::after,.c1e9c47c23f12ca3-iconContainer {
      display: flex;
      justify-content: center;
      align-items: center;
  }
}


/* move profile button by obsidian */
.user-profile-modal-v2 ._9c3bea41fd465666-profile {
  anchor-name: --profile-anchor;
  --tooltip-bg: color-mix(in oklab, var(--neutral-79) 100%, var(--custom-theme-base-color, #000) var(--custom-theme-base-color-amount, 0%));
  --tooltip-border: color-mix(in oklab,hsl(var(--opacity-12-hsl)/0.12156862745098039) 100%,hsl(var(--custom-theme-base-color-hsl,0 0% 0%)/0.12156862745098039) var(--custom-theme-border-color-amount,var(--custom-theme-base-color-amount,0%)));
    /* Edit fill (for bg) and color (for border) to be the same as above. %23 is # */
  --arrow-svg: url("data:image/svg+xml,%3Csvg fill='%23242429' color='%23323237' width='16' height='10' viewBox='0 0 16 10' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath  d='M10.3426 7.0715C9.14163 8.57272 6.85837 8.57272 5.65739 7.0715L0 -0.000244141L16 -0.000244141L10.3426 7.0715Z'%3E%3C/path%3E%3Cpath stroke='currentColor' d='M9.93457 6.84546C8.93433 8.06766 7.06567 8.06766 6.06543 6.84546L0.0546875 -0.500244L15.9453 -0.500244L9.93457 6.84546Z'%3E%3C/path%3E%3C/svg%3E");
  
  ._9c3bea41fd465666-profileButtons {
    position: fixed;
    top: calc(anchor(--profile-anchor start) + 12px);
    right: calc(anchor(--profile-anchor end) + 12px);

    button {
      background: var(--redesign-button-overlay-alpha-background) !important;
      border: 1px solid var(--opacity-white-8) !important;
      border-radius: 50%;
      &:hover, &:active {
        background: var(--redesign-button-overlay-alpha-pressed-background) !important;
      }
    }
    >button {
      min-width: 32px !important;
      color: var(--button-secondary-text) !important;

      >.a22cb0c66246f5d3-buttonChildrenWrapper {
        overflow: visible;
        padding: 0 !important;
        >.a22cb0c66246f5d3-buttonChildren {
          overflow: visible;
          justify-content: center;
        }
      }
      ._4bd5201c86a2042b-lineClamp1 {
        align-items: center;
        position: absolute;
        top: -52px;
        
        background-color: var(--tooltip-bg);
        border-radius: var(--radius-sm);
        box-shadow: inset 0 0 0 1px var(--tooltip-border), var(--shadow-high);
        color: var(--text-default);
        padding: var(--space-8) var(--space-12);
        pointer-events: none;
        
        display: flex;
        justify-content: center;
        overflow: visible;

        will-change: opacity, transform;
        opacity: 0;
        transform: scale(0.95);
        transform-origin: 50% 100%;
        transition: opacity 0.1s ease, transform 0.1s ease;
        &::after {
          content: var(--arrow-svg);
          position: absolute;
          bottom: -13px;
        }
      }
      &:hover ._4bd5201c86a2042b-lineClamp1 {
        opacity: 1;
        transform: scale(1);
      }
    }
  }
}


/* Remove 3 emoji reactions */
.f84418acfdbdfe54-hoverBarButton[aria-label^="Click to"],
.f84418acfdbdfe54-separator {
  display: none;
}

/* RAINBOW THREAD */
.d125d22cdfd32cfe-content > li._5b40bdd67543ba35-container > ul[role="group"] {
> ._5b40bdd67543ba35-spineBorder {
    --step: calc(var(--channels-name-line-height) + 10px);
    background: var(--thread-muted, repeating-linear-gradient(
      #f5c2e7 calc(var(--step) * 0),
      #f5c2e7 calc(var(--step) * 1),
      #fab387 calc(var(--step) * 1),
      #fab387 calc(var(--step) * 2),
      #f9e2af calc(var(--step) * 2),
      #f9e2af calc(var(--step) * 3),
      #a6e3a1 calc(var(--step) * 3),
      #a6e3a1 calc(var(--step) * 4),
      #74c7ec calc(var(--step) * 4),
      #74c7ec calc(var(--step) * 5),
      #cba6f7 calc(var(--step) * 5),
      #cba6f7 calc(var(--step) * 6))
    )
  }
> li {
    --interactive-hover: var(--thread-core, #f38ba8);
    --interactive-active: var(--thread-core, #f38ba8);
}
> li:nth-of-type(7n + 1) {
  --channels-default: var(--thread-default, rgba(245, 194, 231, 0.7)); /* Pink */
  --text-primary: var(--thread-core, #f5c2e7);
  --interactive-muted: var(--thread-muted, #b48aa9);
}

> li:nth-of-type(7n + 2) {
  --channels-default: var(--thread-default, rgba(203, 166, 247, 0.7)); /* Mauve */
  --text-primary: var(--thread-core, #cba6f7);
  --interactive-muted: var(--thread-muted, #8f79ad);
}

> li:nth-of-type(7n + 3) {
  --channels-default: var(--thread-default, rgba(243, 139, 168, 0.7)); /* Red */
  --text-primary: var(--thread-core, #f38ba8);
  --interactive-muted: var(--thread-muted, #b0667d);
}

> li:nth-of-type(7n + 4) {
  --channels-default: var(--thread-default, rgba(250, 179, 135, 0.7)); /* Peach */
  --text-primary: var(--thread-core, #fab387);
  --interactive-muted: var(--thread-muted, #9e6b4a);
}

> li:nth-of-type(7n + 5) {
  --channels-default: var(--thread-default, rgba(249, 226, 175, 0.7)); /* Yellow */
  --text-primary: var(--thread-core, #f9e2af);
  --interactive-muted: var(--thread-muted, #b6a06a);
}

> li:nth-of-type(7n + 6) {
  --channels-default: var(--thread-default, rgba(166, 227, 161, 0.7)); /* Green */
  --text-primary: var(--thread-core, #a6e3a1);
  --interactive-muted: var(--thread-muted, #6fa96a);
}

> li:nth-of-type(7n + 7) {
  --channels-default: var(--thread-default, rgba(116, 199, 236, 0.7)); /* Sapphire */
  --text-primary: var(--thread-core, #74c7ec);
  --interactive-muted: var(--thread-muted, #4f8aa6);
}
}

