/* Change Icon */
/* Nitro Home */

/* Friends */
[href="/channels/@me"] .avatar__20a53 svg {
    display: none !important;
}
[href="/channels/@me"] .avatar__20a53::before {
    content: "";
    display: block;
    width: 20px;
    height: 20px;
    background: url("https://i.postimg.cc/RZDkZHV3/friends.png")no-repeat;
    transition: transform 0.3s ease, opacity 0.3s ease; /* Add transition */
}
/* Hover effect */
[href="/channels/@me"] .avatar__20a53:hover::before {
    transform: scale(1.2); /* Increase size on hover */
    opacity: 0.8; /* Slightly fade on hover */
}

/* Nitro Home */
[href="/store"] .avatar__20a53 svg {
    display: none !important;
}
[href="/store"] .avatar__20a53::before {
    content: "";
    display: block;
    width: 20px;
    height: 20px;
    background: url("https://i.postimg.cc/FsF8bZYv/ezgif-16968e776aa9be29.png")no-repeat;
    transition: transform 0.3s ease, opacity 0.3s ease; /* Add transition */
}
/* Hover effect */
[href="/store"] .avatar__20a53:hover::before {
    transform: scale(1.2); /* Increase size on hover */
    opacity: 0.8; /* Slightly fade on hover */
}

/* Shop */
[href="/shop"] .avatar__20a53 svg {
    display: none !important;
}
[href="/shop"] .avatar__20a53::before {
    content: "";
    display: block;
    width: 20px;
    height: 20px;
    background: url("https://i.postimg.cc/qqvwK11H/Shops.png") no-repeat;
    transition: transform 0.3s ease, opacity 0.3s ease; /* Add transition */
}
/* Hover effect */
[href="/shop"] .avatar__20a53:hover::before {
    transform: scale(1.2); /* Increase size on hover */
    opacity: 0.8; /* Slightly fade on hover */
}

/* Quest Home */
[href="/quest-home"] .avatar__20a53 svg {
    display: none !important;
}
[href="/quest-home"] .avatar__20a53::before {
    content: "";
    display: block;
    width: 20px;
    height: 20px;
    background: url("https://i.postimg.cc/wMQ5CfhQ/quest-orb.webp") no-repeat;
    transition: transform 0.3s ease, opacity 0.3s ease; /* Add transition */
}
/* Hover effect */
[href="/quest-home"] .avatar__20a53:hover::before {
    transform: scale(1.2); /* Increase size on hover */
    opacity: 0.8; /* Slightly fade on hover */
}



/* change Discover and Add Server icon */
[data-list-item-id="guildsnav___create-join-button"] {
  content: url("https://github.com/Lelensz/icons/blob/main/Add%20Server%20ll.webp?raw=true");
}

[data-list-item-id="guildsnav___guild-discover-button"] {
  content: url("https://github.com/Lelensz/icons/blob/main/Discover%20II.webp?raw=true");
}


/* Little Fix */
/* turn every text white on hover */
*:hover {
  color:var(--text-1) !important;
}


/* search Text */
.public-DraftEditorPlaceholder-inner {
  color: var(--text-5);
}

/* quest shop */
.clickable_a3e8db {
    margin-right: 130px;
}
