/* Change Icon */
/* Nitro Home */

/* Friends */
[href="/channels/@me"] .avatar__20a53 svg {
    display: none !important;
}
[href="/channels/@me"] .avatar__20a53::before {
    content: "";
    display: block;
    width: 20px;
    height: 20px;
    background: url("https://i.postimg.cc/Px6FgqTq/ezgif-48072811a01cee5a.png")no-repeat;
}
/* Nitro Home */
[href="/store"] .avatar__20a53 svg {
    display: none !important;
}
[href="/store"] .avatar__20a53::before {
    content: "";
    display: block;
    width: 20px;
    height: 20px;
    background: url("https://i.postimg.cc/m2KKZh9d/ezgif-1bd6203c168a2563.png")no-repeat;
}
/* Shop */
[href="/shop"] .avatar__20a53 svg {
    display: none !important;
}
[href="/shop"] .avatar__20a53::before {
    content: "";
    display: block;
    width: 20px;
    height: 20px;
    background: url("https://i.postimg.cc/k4wk7cNN/ezgif-43bf178286381f08.png") no-repeat;
}
/* Quest Home */
[href="/quest-home"] .avatar__20a53 svg {
    display: none !important;
}
[href="/quest-home"] .avatar__20a53::before {
    content: "";
    display: block;
    width: 20px;
    height: 20px;
    background: url("https://i.postimg.cc/j5Kbx2pN/ezgif-778274d0332f6ca4.png") no-repeat;
}



/* change Discover and Add Server icon */
[data-list-item-id="guildsnav___create-join-button"] {
  content: url("https://github.com/Lelensz/icons/blob/main/Add%20Server%20ll.webp?raw=true");
}

[data-list-item-id="guildsnav___guild-discover-button"] {
  content: url("https://github.com/Lelensz/icons/blob/main/Discover%20II.webp?raw=true");
}


/* Little Fix */
/* turn every text white on hover */
*:hover {
  color:var(--text-1) !important;
}


/* search Text */
.public-DraftEditorPlaceholder-inner {
  color: var(--text-5);
}

/* quest shop */
.clickable_a3e8db {
    margin-right: 130px;
}
