/* Friends */
[href="/channels/@me"] {
    .avatar__20a53 svg {
        display: none !important;
    }
    .avatar__20a53::before {
        content: "";
        display: block;
        width: 20px;
        height: 20px;
        background: url("https://i.postimg.cc/HsyfSxpy/addfriend.png") no-repeat;
        transition: transform 0.3s ease, opacity 0.3s ease;
    }
    .avatar__20a53:hover::before {
        transform: scale(1.2);
        opacity: 0.8;
    }
}


/* Nitro Home */
[href="/store"] {
    .avatar__20a53 svg {
        display: none !important;
    }
    .avatar__20a53::before {
        content: "";
        display: block;
        width: 20px;
        height: 20px;
        background: url("https://i.postimg.cc/HkGCHMSK/nitrohome.png") no-repeat;
        transition: transform 0.3s ease, opacity 0.3s ease;
    }
    .avatar__20a53:hover::before {
        transform: scale(1.2);
        opacity: 0.8;
    }
}


/* Message Request */
[href="/message-requests"] {
    .avatar__20a53 svg {
        display: none !important;
    }
    .avatar__20a53::before {
        content: "";
        display: block;
        width: 20px;
        height: 20px;
        background: url("https://i.postimg.cc/SKLNVTjK/messg.png") no-repeat;
        transition: transform 0.3s ease, opacity 0.3s ease;
    }
    .avatar__20a53:hover::before {
        transform: scale(1.2);
        opacity: 0.8;
    }
}

/* Shop */
[href="/shop"] {
    .avatar__20a53 svg {
        display: none !important;
    }
    .avatar__20a53::before {
        content: "";
        display: block;
        width: 20px;
        height: 20px;
        background: url("https://i.postimg.cc/wMsbbfdT/Shopes.png") no-repeat;
        transition: transform 0.3s ease, opacity 0.3s ease;
    }
    .avatar__20a53:hover::before {
        transform: scale(1.2);
        opacity: 0.8;
    }
}

/* Quest Home */
[href="/quest-home"] {
    .avatar__20a53 svg {
        display: none !important;
    }
    .avatar__20a53::before {
        content: "";
        display: block;
        width: 20px;
        height: 20px;
        background: url("https://i.postimg.cc/wMQ5CfhQ/quest-orb.webp") no-repeat;
        transition: transform 0.3s ease, opacity 0.3s ease;
    }
    .avatar__20a53:hover::before {
        transform: scale(1.2);
        opacity: 0.8;
    }
}

/* Change Discover and Add Server Icon */
[data-list-item-id="guildsnav___create-join-button"] {
    content: url("https://i.postimg.cc/zftfWSzx/ezgif-74f09f2857013c16.png");
}

[data-list-item-id="guildsnav___guild-discover-button"] {
    content: url("https://i.postimg.cc/Gt0dJXZt/ezgif-7ed312060b4ea038.png");
}

/* Little Fix */
*:hover {
    color: var(--text-1) !important;
}

/* Search Text */
.public-DraftEditorPlaceholder-inner {
    color: var(--text-5);
}

/* Quest Shop */
.clickable_a3e8db {
    margin-right: 130px;
}
