/* Simplified Panel Area by dav154*/
@keyframes pointerDelay {
  99.9999% {
    pointer-events: none;
  }
  to {
    pointer-events: all;
  }
}
:root {
  --panel-spotify-marginLeft: 0;
  --panel-spotify-marginRight: 8px;
  --panel-activityIcon-marginLeft: 0;
  --panel-activityIcon-marginRight: 4px;
  --panel-voiceOffset: 40px;
  --panel-pingOffset: -40px;
}
:root.refresh-fast-follow-avatars {
  --panel-spotify-marginLeft: 2px;
  --panel-spotify-marginRight: 10px;
  --panel-activityIcon-marginLeft: 2px;
  --panel-activityIcon-marginRight: 6px;
  --panel-voiceOffset: 44px;
  --panel-pingOffset: -42px;
}
._5e434347c823b592-panels > div {
  z-index: 0;
}
._0d6162a4e6a4b802-wrapperVisible {
  z-index: inherit;
}

/*Buttons*/
._37e49614b9f110a9-buttons._37e49614b9f110a9-buttons, .e131a99484292a19-voiceButtonsContainer, .e131a99484292a19-actionButtons, ._4cd01ae64b7d5abc-actions, .e0cf275d59896c00-icons {
  background-color: var(--background-surface-highest);
  border-radius: var(--radius-round);
  box-shadow: var(--shadow-border), var(--shadow-low);
  display: flex;
  gap: 2px !important;
  height: unset;
  margin: 0 !important;
  padding: 2px !important;
  pointer-events: none;
  position: absolute;
  opacity: 0;
  right: 6px;
  top: 0;
  transition: .15s ease;
  z-index: 2;
}
._37e49614b9f110a9-micButtonParent button {
  border-top-right-radius: unset !important;
  border-bottom-right-radius: unset !important;
  padding-right: 4px !important;
}
._37e49614b9f110a9-micButtonParent:not(:first-child) button {
  border-radius: unset !important;
  padding: 4px !important;
}
._67645e1530f1195d-button._67645e1530f1195d-button._67645e1530f1195d-button {
  border-radius: unset;
  height: unset;
  margin: unset;
  padding: 4px;
  width: unset;
  ._201d5e8a3c09670a-contents {
    transition: scale .4s cubic-bezier(.16,1,.3,1);
  }
  ._5eb9b3cc7c2b1ce8-lottieIcon, svg {
    width: 16px !important;
    height: 16px !important;
  }
  &:first-child {
    border-top-left-radius: var(--radius-round);
    border-bottom-left-radius: var(--radius-round);
    padding-left: 6px;
  }
  &:last-of-type {
    border-top-right-radius: var(--radius-round);
    border-bottom-right-radius: var(--radius-round);
    padding-right: 6px;
  }
  &:hover {
    background-color: var(--background-modifier-hover);
    color: var(--interactive-hover);
    ._201d5e8a3c09670a-contents {
      scale: 1.1;
    }
  }
}

/*ListenAlong*/
.e0cf275d59896c00-listeningAlong {
  background: unset;
  background-color: hsl(var(--spotify-hsl) / .1);
  border-bottom: 1px solid var(--border-faint);
  border-radius: 0;
  gap: var(--space-8);
  min-height: 56px;
  padding: var(--space-xs) var(--space-md);
  position: relative;
  &:first-child {
    border-radius: 7px 7px 0 0;
  }
  &:before {
    background-color: var(--spotify);
    content: "";
    height: 24px;
    margin-left: var(--panel-spotify-marginLeft);
    margin-right: var(--panel-spotify-marginRight);
    mask-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='none' height='24' viewBox='0 0 24 24' width='24'%3E%3Cpath d='m12 0c-6.6275 0-12 5.3725-12 12 0 6.6274 5.3725 12 12 12 6.6274 0 12-5.3726 12-12 0-3.1826-1.2643-6.2348-3.5147-8.4853-2.2505-2.2505-5.3027-3.5147-8.4853-3.5147zm5.475 17.325c-.2201.3343-.6576.4478-1.0124.2624-2.8126-1.7249-6.3751-2.1-10.5376-1.1624-.2612.0602-.5348-.0234-.7176-.2195-.1829-.1961-.2472-.4748-.1687-.7313.0784-.2563.2876-.4514.5489-.5117 4.575-1.05 8.475-.6 11.6626 1.35.1679.1012.2869.2666.3294.458.0426.1913.0048.3917-.1044.5544zm1.5-3.3c-.1286.2096-.3356.3593-.575.4156s-.4914.0148-.7-.1156c-3.225-1.9876-8.1376-2.55-11.9626-1.3876-.3216.0938-.6686.009-.9107-.2226-.242-.2316-.3421-.5747-.2626-.9.0796-.3253.3266-.5836.6481-.6774 4.35-1.3124 9.7876-.6749 13.4626 1.6126.4211.279.5525.8375.3 1.275zm.1124-3.375c-3.8624-2.2876-10.2374-2.5126-13.95-1.3876-.5572.0889-1.094-.2486-1.2553-.7895-.1613-.5407.103-1.1172.6179-1.3481 4.2376-1.275 11.2874-1.05 15.75 1.6126.2572.151.4421.3997.5128.6894.0707.2897.021.5956-.1378.848-.3385.5036-1.0051.6662-1.5376.375z' fill='%23fff'/%3E%3C/svg%3E");;
    width: 24px;
  }
  &:hover {
    .e0cf275d59896c00-icons {
      animation: pointerDelay .15s ease forwards;
      opacity: 1;
      top: -14px;
    }
  }
}
.e0cf275d59896c00-party {
  margin: 0;
}
.e0cf275d59896c00-avatar > ._44b0c28be7879b7b-svg {
  width: 20px;
  height: 20px;
}
.b2d72f296411131a-moreUsers {
  background: linear-gradient(315deg, hsl(var(--spotify-hsl) / .35), hsl(var(--spotify-hsl) / .75));
  color: var(--white);
}
/*ActivityPanel*/
._5e434347c823b592-activityPanel._5e434347c823b592-activityPanel {
  background: unset;
  border-radius: 0;
  box-sizing: border-box;
  display: flex;
  min-height: 56px;
  padding: var(--space-xs) var(--space-sm);
  transition: background-color .2s ease;
  &:first-child {
    border-radius: 7px 7px 0 0;
  }
  &:hover {
    background-color: var(--background-mod-normal);
    ._4cd01ae64b7d5abc-actions {
      animation: pointerDelay .15s ease forwards;
      opacity: 1;
      top: -14px;
    }
  }
}
._5dec784a68542d60-body {
  width: 100%;
}
._5dec784a68542d60-gameWrapper, ._8c6c22ea0d0f0ea2-gameWrapper {
  gap: var(--space-8);
}
.a629d4eb1dd44839-wrapper, ._5dec784a68542d60-gameIcon, ._8c6c22ea0d0f0ea2-gameIconWrapper {
  margin-left: var(--panel-activityIcon-marginLeft);
  margin-right: var(--panel-activityIcon-marginRight);
}
._8c6c22ea0d0f0ea2-info, ._5dec784a68542d60-info {
  margin-left: 0;
  a:first-child div {
    text-decoration: none;
    &:before {
      content: "";
      position: absolute;
      inset: 0;
    }
  }
}
._4cd01ae64b7d5abc-panelButtonContainer {
  display: contents;
  &:not(:only-child) ._67645e1530f1195d-button {
    border-top-right-radius: unset !important;
    border-bottom-right-radius: unset !important;
    padding-right: 4px !important;
  }
}
/*VoicePanel*/
.e131a99484292a19-wrapper {
  transition: background-color .2s ease;
  &:first-child {
    border-top-left-radius: 7px;
    border-top-right-radius: 7px;
  }
  &:hover {
    background-color: var(--background-mod-normal);
    .e131a99484292a19-voiceButtonsContainer, .e131a99484292a19-actionButtons {
      animation: pointerDelay .15s ease forwards;
      opacity: 1;
      top: -14px;
    }
  }
}
.e131a99484292a19-container.e131a99484292a19-container {
  align-items: center;
  box-sizing: border-box;
  flex-direction: unset;
  gap: var(--space-8);
  padding: var(--space-xs) var(--space-md);
  margin: 0;
  min-height: 56px;
}
.e131a99484292a19-connection {
  flex: unset !important;
  min-width: 40px;
}
._06d6249a1f2584ac-rtcConnectionStatusWrapper {
  padding-left: var(--panel-voiceOffset);
}
._06d6249a1f2584ac-ping {
  height: 24px;
  margin-left: var(--panel-pingOffset);
  top: calc(50% - 12px);
  position: absolute;
  pointer-events: all;
  width: 24px;
}
._06d6249a1f2584ac-rtcConnectionStatus {
  pointer-events: none;
  z-index: 1;
}
._06d6249a1f2584ac-labelWrapper {
  pointer-events: all;
  > button {
    width: 100%;
    justify-content: unset;
  }
  ._201d5e8a3c09670a-contents {
    width: inherit;
  }
}
._06d6249a1f2584ac-rtcConnectionStatusLabel [data-text-variant] {
  font-size: 14px;
  font-weight: 600;
  line-height: 18px;
  overflow: hidden;
  text-overflow: ellipsis;
}
.e131a99484292a19-channel {
  text-decoration: unset !important;
  div {
    font-size: 12px;
    font-weight: 400;
    line-height: 13px;
  }
  &:before {
    content: "";
    position: absolute;
    inset: 0;
  }
}
.e131a99484292a19-voiceUsers {
  border-radius: var(--radius-md);
  flex: 1 0 auto;
  margin: -8px;
  padding: 8px !important;
  max-height: 36px;
  min-height: 20px;
  transition: .2s ease;
  pointer-events: none;
  &::-webkit-scrollbar {
    display: none;
  }
  &:has(div:nth-of-type(9)) {
    pointer-events: all;
    &:hover {
      background-color: var(--background-surface-highest);
      box-shadow: var(--shadow-border), var(--shadow-low);
      z-index: 3;
    }
    ._68617e68b7bb4785-voiceUsers {
      justify-content: unset;
    }
  }
}
._68617e68b7bb4785-voiceUsers {
  box-sizing: border-box;
  display: flex;
  flex-wrap: wrap;
  gap: 0;
  justify-content: flex-end;
  max-width: 132px;
  min-height: 100%;
  row-gap: 4px;
  z-index: 1;
}
._68617e68b7bb4785-avatarContainer:not(:last-of-type,:nth-of-type(8n)) {
  mask-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' height='100' viewBox='0 0 20 20' width='100'%3E%3Cpath d='m18 0h-18v20h18c-2.8526705-2.3846085-4.6687684-5.979124-4.6687684-10 0-4.02087599 1.8160979-7.6153915 4.6687684-10z' fill-rule='evenodd'/%3E%3C/svg%3E");
  mask-size: 100%;
  margin-right: -4px;
}
._68617e68b7bb4785-avatar, .button__06eda {
  width: 20px;
  height: 20px;
  min-width: unset;
  min-height: unset;
  pointer-events: all;
}
._68617e68b7bb4785-avatarIconOverlay {
  width: 12px;
  height: 12px;
  padding: 4px;
}
.e131a99484292a19-actionButtons.e131a99484292a19-actionButtons.e131a99484292a19-actionButtons.e131a99484292a19-actionButtons {
  right: 72px;
  ._201d5e8a3c09670a-disabledButtonWrapper {
    height: unset;
    min-height: unset;
  }
  button {
    background: transparent;
    border: unset !important;
    border-radius: unset;
    color: var(--icon-secondary);
    height: unset;
    margin: unset;
    min-height: unset;
    min-width: unset;
    padding: 4px;
    width: unset;
    &.e131a99484292a19-buttonActive {
      color: var(--green-360) !important;
      background-color: hsl(var(--green-360-hsl) / .1);
      &:hover {
        background-color: hsl(var(--green-360-hsl) / .2);
      }
    }
    &:first-child {
      border-top-left-radius: var(--radius-round);
      border-bottom-left-radius: var(--radius-round);
      padding-left: 6px;
    }
    ._201d5e8a3c09670a-contents {
      transition: scale .4s cubic-bezier(.16,1,.3,1);
    }
    .e131a99484292a19-buttonContents {
      width: 16px !important;
      height: 16px !important;
    }
    &:hover {
      background-color: var(--background-modifier-hover);
      color: var(--interactive-hover);
      ._201d5e8a3c09670a-contents {
        scale: 1.1;
      }
    }
  }
  > div > button {
    border-top-left-radius: unset !important;
    border-bottom-left-radius: unset !important;
    border-top-right-radius: var(--radius-round);
    border-bottom-right-radius: var(--radius-round);
    padding-left: 4px !important;
    padding-right: 6px;
  }
}
/*UserPanel*/
._37e49614b9f110a9-avatarWrapper._37e49614b9f110a9-avatarWrapper {
  background: transparent !important;
  border-radius: inherit;
  padding: var(--space-xs);
  padding-right: var(--space-md);
}
.density-compact ._37e49614b9f110a9-avatarWrapper._37e49614b9f110a9-avatarWrapper {
  padding-left: var(--space-4);
}
.density-cozy ._37e49614b9f110a9-avatarWrapper._37e49614b9f110a9-avatarWrapper {
  padding-left: var(--space-12);
}
._37e49614b9f110a9-container._37e49614b9f110a9-container {
  border-radius: 12px;
  padding: 10px !important;
  margin: 0;
  transition: background-color .2s ease;
  &:hover {
    background-color: var(--background-mod-normal);
    ._37e49614b9f110a9-buttons {
      animation: pointerDelay .15s ease forwards;
      opacity: 1;
      top: -14px;
    }
  }
}

/*[PLUGIN / BETTERDISCORD / Game Activity Toggle]*/
._37e49614b9f110a9-buttons:not(:last-child) {
  right: 98px;
}
.gameActivityToggleButton_fd3fb5.gameActivityToggleButton_fd3fb5 {
  margin: 0;
}

/*[PLUGIN / VENCORD / SpotifyControls]*/
#vc-spotify-player#vc-spotify-player {
  background: unset;
  border-radius: 0;
  box-sizing: border-box;
  min-height: 56px;
  padding: var(--space-sm) var(--space-xs);
  position: relative;
  &:hover {
    .vc-spotify-button-row {
      animation: pointerDelay .15s ease forwards;
      opacity: 1;
      top: -14px;
    }
    #vc-spotify-progress-bar {
      animation: pointerDelay .15s ease forwards;
      opacity: 1;
      top: -14px;
    }
  }
}
#vc-spotify-info-wrapper {
  gap: var(--space-8);
  height: fit-content;
}
#vc-spotify-album-image {
  height: 40px;
}
#vc-spotify-album-expanded-wrapper #vc-spotify-album-image {
  height: unset;
}
#vc-spotify-titles {
  padding: 0;
}
#vc-spotify-song-title {
  font-weight: 500;
  line-height: 18px;
}
.vc-spotify-secondary-song-info {
  line-height: 13px;
}
.vc-spotify-artist, .vc-spotify-album {
  color: var(--text-secondary) !important;
}
.vc-spotify-button-row.vc-spotify-button-row {
  background-color: var(--background-surface-highest);
  border-radius: var(--radius-round);
  box-shadow: var(--shadow-border), var(--shadow-low);
  display: flex;
  gap: 2px !important;
  height: unset;
  margin: 0;
  padding: 2px;
  pointer-events: none;
  position: absolute;
  opacity: 0;
  right: 6px;
  top: 0;
  transition: .15s ease;
  z-index: 2;
}
.vc-spotify-button.vc-spotify-button {
  border-radius: 0;
  height: unset;
  margin: 0;
  padding: 4px;
  transition: background-color .2s ease;
  width: unset;
  &:first-child {
    border-top-left-radius: var(--radius-round);
    border-bottom-left-radius: var(--radius-round);
    padding-left: 6px;
  }
  &:last-child {
    border-top-right-radius: var(--radius-round);
    border-bottom-right-radius: var(--radius-round);
    padding-right: 6px;
  }
  &:hover {
    .vc-spotify-button-icon.vc-spotify-button-icon {
      scale: 1.1;
    }
  }
}
.vc-spotify-button-icon.vc-spotify-button-icon {
  height: 16px;
  width: 16px;
  transition: scale .4s cubic-bezier(.16,1,.3,1);
}
.vc-spotify-repeat-1 {
  left: calc(50% - 1px);
}
#vc-spotify-progress-bar#vc-spotify-progress-bar {
  background-color: var(--background-surface-highest);
  border-radius: 14px;
  box-shadow: var(--shadow-border), var(--shadow-low);
  box-sizing: border-box;
  column-gap: 2px;
  display: grid;
  grid-template-areas: "vcSpotifySlider vcSpotifySlider vcSpotifySlider" "vcSpotifyProgress vcSpotifySlash vcSpotifyDuration";
  left: 6px;
  margin: 0;
  min-height: 28px;
  opacity: 0;
  padding: 2px 6px;
  pointer-events: none;
  position: absolute;
  top: 0;
  transition: .15s ease, max-width .4s ease;
  width: unset;
  .a562c840daab72a7-slider {
    grid-area: vcSpotifySlider;
    margin-bottom: -24px;
    opacity: 0;
    transition: .15s ease;
  }
  .a562c840daab72a7-track {
    right: 15px;
    left: 0;
  }
  .a562c840daab72a7-barFill {
    background-color: var(--spotify);
  }
  &:after {
    content: "/";
    display: flex;
    grid-area: vcSpotifySlash;
    justify-content: center;
    pointer-events: none;
    transition: opacity .15s ease;
  }
  &:hover {
    right: 6px;
    z-index: 3;
    .a562c840daab72a7-slider {
      opacity: 1;
    }
    .vc-spotify-progress-time, &:after {
      opacity: 0;
    }
  }
}
.vc-spotify-progress-time.vc-spotify-progress-time {
  display: flex;
  position: unset;
  margin: 0;
  pointer-events: none;
  transition: .15s ease;
}
.vc-spotify-time-left {
  grid-area: vcSpotifyProgress;
}
.vc-spotify-time-right {
  grid-area: vcSpotifyDuration;
  justify-content: end;
}
