/* Window Control Fancy Button By Moonself + squeezbtw */
/* new windows button & hover */
.c38106a3f0c3ca76-winButton {
    position: relative !important;
    background-color: transparent !important;
    margin: 0 !important;
    display: flex !important;
    align-items: center !important;
    justify-content: center !important;
}

.c38106a3f0c3ca76-winButtons {
    gap: 0 !important;
    display: flex !important;
    align-items: center !important;
}

.c38106a3f0c3ca76-winButton svg {
    opacity: 0 !important;
    display: none !important;
}

.c38106a3f0c3ca76-winButton::before {
    content: "" !important;
    display: flex !important;
    align-items: center !important;
    justify-content: center !important;
    font-weight: bold !important;
    width: 14px !important;
    height: 14px !important;
    transition: color 0.3s ease, text-shadow 0.7s ease, transform 0.7s ease-in-out, filter 0.7s ease !important;
    position: absolute !important;
    transform: translate(-50%, -50%) !important;
}
/* close button */
.c38106a3f0c3ca76-winButtonClose::before {
  content: '';
  top: 50% !important;
  left: 40%;
  background-color: var(--text-5);
  mask: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='48' height='48' viewBox='0 0 24 24'%3E%3Cg fill='none' fill-rule='evenodd'%3E%3Cpath d='m12.593 23.258l-.011.002l-.071.035l-.02.004l-.014-.004l-.071-.035q-.016-.005-.024.005l-.004.01l-.017.428l.005.02l.01.013l.104.074l.015.004l.012-.004l.104-.074l.012-.016l.004-.017l-.017-.427q-.004-.016-.017-.018m.265-.113l-.013.002l-.185.093l-.01.01l-.003.011l.018.43l.005.012l.008.007l.201.093q.019.005.029-.008l.004-.014l-.034-.614q-.005-.018-.02-.022m-.715.002a.02.02 0 0 0-.027.006l-.006.014l-.034.614q.001.018.017.024l.015-.002l.201-.093l.01-.008l.004-.011l.017-.43l-.003-.012l-.01-.01z'/%3E%3Cpath fill='%23000' d='m12 14.122l5.303 5.303a1.5 1.5 0 0 0 2.122-2.122L14.12 12l5.304-5.303a1.5 1.5 0 1 0-2.122-2.121L12 9.879L6.697 4.576a1.5 1.5 0 1 0-2.122 2.12L9.88 12l-5.304 5.304a1.5 1.5 0 1 0 2.122 2.12z'/%3E%3C/g%3E%3C/svg%3E") no-repeat center;
  mask-size: 100%;
  -webkit-mask-size: 100%;
  will-change: transform !important; /* Optimization for animation */
  transform: translate(-50%, -50%) !important;
}
.c38106a3f0c3ca76-winButtonClose:hover::before {
    filter: brightness(1.1) !important;
    transform: translate(-50%, -50%) rotate(180deg) !important; /* Rotation animation */
}
/* Circle Minimze */
.c38106a3f0c3ca76-winButtonMinMax:nth-child(1)::before {
  content: '';
  top: 50% !important;
  left: 40%;
  background-color: var(--text-5);
  mask: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='48' height='48' viewBox='0 0 12 12'%3E%3Cpath fill='%23000' stroke='%23000' stroke-linecap='round' stroke-width='2' d='M3 6h6'/%3E%3C/svg%3E") no-repeat center;
  mask-size: 100%;
  -webkit-mask-size: 100%;
  will-change: transform !important; /* Optimization for animation */
}
.c38106a3f0c3ca76-winButtonMinMax:nth-child(1):hover::before {
    filter: brightness(1.2) !important;
    transform: translate(-50%, -50%) rotate(180deg) !important;
}
/* maxmize window */
.c38106a3f0c3ca76-winButtonMinMax:nth-child(2)::before {
  content: '';
  top: 50% !important;
  left: 40%;
  background-color: var(--text-5);
  mask: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='48' height='48' viewBox='0 0 20 20'%3E%3Cpath fill='%23000' d='M4 6a2 2 0 0 1 2-2h8a2 2 0 0 1 2 2v8a2 2 0 0 1-2 2H6a2 2 0 0 1-2-2z'/%3E%3C/svg%3E") no-repeat center;
  mask-size: 100%;
  -webkit-mask-size: 100%;
  will-change: transform !important; /* Optimization for animation */
}
.c38106a3f0c3ca76-winButtonMinMax:nth-child(2):hover::before {
    filter: brightness(1.2) !important;
    transform: translate(-50%, -50%) rotate(180deg) !important;
}

/* Hide Member List Top Bar */
path[d="M14.5 8a3 3 0 1 0-2.7-4.3c-.2.4.06.86.44 1.12a5 5 0 0 1 2.14 3.08c.01.06.06.1.12.1ZM18.44 17.27c.15.43.54.73 1 .73h1.06c.83 0 1.5-.67 1.5-1.5a7.5 7.5 0 0 0-6.5-7.43c-.55-.08-.99.38-1.1.92-.06.3-.15.6-.26.87-.23.58-.05 1.3.47 1.63a9.53 9.53 0 0 1 3.83 4.78ZM12.5 9a3 3 0 1 1-6 0 3 3 0 0 1 6 0ZM2 20.5a7.5 7.5 0 0 1 15 0c0 .83-.67 1.5-1.5 1.5a.2.2 0 0 1-.2-.16c-.2-.96-.56-1.87-.88-2.54-.1-.23-.42-.15-.42.1v2.1a.5.5 0 0 1-.5.5h-8a.5.5 0 0 1-.5-.5v-2.1c0-.25-.31-.33-.42-.1-.32.67-.67 1.58-.88 2.54a.2.2 0 0 1-.2.16A1.5 1.5 0 0 1 2 20.5Z"] {
    fill: var(--text-5);
}
